<div class="ar-players-container">
    <div class="ar-players-content">
        <div class="ar-header" style="font-weight: bold;">
            Add/Remove Players
        </div>
        <div>
            <PlayerSetup::NewPlayer />
            <PlayerSetup::AddPlayer />
        </div>
    </div>
</div>