<div class="sb-container">
    <div class="game-column">
        <div class="game-selection">
            <GameCard @game={{this.game1}} />
        </div>
        <div class="game-selection">
            <GameCard @game={{this.game2}} />
        </div>
    </div>
    <div class="game-column">
        <div class="game-selection">
            <GameCard @game={{this.game3}} />
        </div>
        <div class="game-selection">
            <GameCard @game={{this.game4}} />
        </div>
    </div>
</div>